{% extends "base.html" %}

{% block title %} 
    <h1 class="display-1"><u> Lista de Tarefas </u> </h1>
    <br>
    <br>
{% endblock %}

{% block content %}

    <table class="table table-hover table-bordered table-sm caption-top">
        <!--<caption>Lista de Tarefas</caption> -->
        <thead class="thead-light">
          <tr>
            <th scope="col">Nome da Tarefa</th>
            <th scope="col">Status da Tarefa</th>            
          </tr>
        </thead>
        <tbody>
           {% for task in tasks %}  
                <tr>
                    <th> {{ task.title }} </th>
                    <th> {% if task.complete %} conluída {% else %} pendente {% endif %} </th>
                    <th> <a href="{% url 'edit_task' task.id %}" class="link-primary">Editar </a>  </th> <!-- Link para edição -->
                    <th> <a href="{% url 'delete_task' task.id %}" class="text-danger">Excluir</a> </th>
                </tr> 
            {% endfor %}          
        </tbody>
    </table>
    <br>
    <nav aria-label="Navegação de página exemplo">
        <ul class="pagination">
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Anterior">
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Anterior</span>
            </a>
          </li>
          <li class="page-item"><a class="page-link" href="#">1</a></li>
          <li class="page-item"><a class="page-link" href="#">2</a></li>
          <li class="page-item"><a class="page-link" href="#">3</a></li>
          <li class="page-item">
            <a class="page-link" href="#" aria-label="Próximo">
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Próximo</span>
            </a>
          </li>
        </ul>
      </nav>
    <br>
    <a href="{% url 'add_task' %}" class="text-light bg-dark">Criar uma nova tarefa</a>  
    <br>
    <br>
    <a href="{% url 'lista_cadastro' %}">Ir para a lista de cadastros</a>

{% endblock %}
