{% extends "base.html" %}

{% block title %} 
    <h1 class="display-1"><u> Lista de Tarefas </u> </h1>
    <br>
    <br>
{% endblock %}

{% block content %}
    <!--
    <ul class="list-group">
        {% for task in tasks %}
            <li class="list-group-item">{{ task.title }}  - {% if task.complete %} conluída {% else %} pendente {% endif %}</li>            
            <a href="{% url 'edit_task' task.id %}" class="link-primary">Editar </a>  
            <a href="{% url 'delete_task' task.id %}" class="text-danger">Excluir</a>      
            
        {% endfor %}
    </ul>   
    
    <br>
    <br>
    <br>
    -->
    <table class="table table-hover table-bordered table-sm caption-top">
        <!--<caption>Lista de Tarefas</caption> -->
        <thead class="thead-light">
          <tr>
            <th scope="col">Nome da Tarefa</th>
            <th scope="col">Status da Tarefa</th>            
          </tr>
        </thead>
        <tbody>
           {% for task in tasks %}  
                <tr>
                    <th> {{ task.title }} </th>
                    <th> {% if task.complete %} conluída {% else %} pendente {% endif %} </th>
                    <th> <a href="{% url 'edit_task' task.id %}" class="link-primary">Editar </a>  </th> <!-- Link para edição -->
                    <th> <a href="{% url 'delete_task' task.id %}" class="text-danger">Excluir</a> </th>
                </tr> 
            {% endfor %}          
        </tbody>
    </table>
    <br>
    <br>
    <a href="{% url 'add_task' %}" class="text-light bg-dark">Criar uma nova tarefa</a>  

{% endblock %}
